.ipynb_checkpoints/
notebooks/.ipynb_checkpoints/
test.ipynb
.vscode/

*.log
script_log.txt
*.sqlite

**/__pycache__/
*.py[cod]
*$py.class

.venv/

documents_out
notebooks
tasks.md
services/dolphin/access/integration_auth_key.txt
services/arabica/access/db.json
